<div class="shopping-cart">
<% if !@order_product.nil? && @order_product.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_product.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_product.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_product.product, order_product: order_product, show_total: true %>
  <% end %>
<% end %>
</div>